/*ADOPCIONES*/

@media (max-width:1023px) {
    .persona {
        margin: 5vh;
        font-size: 2rem;
    }

    .persona h3,
    .contenedorPersonas p {
        font-size: 15px;
    }

    .contenedorPersonas {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width:768px) {

    .contenedorPersonas {
        grid-template-columns: 1fr;
        overflow-x: hidden;
        background-image: url(../fondoadopciones/symbol-scatter-haikei.png);
    }
}



/*TIENDA*/

@media (max-width:768px) {

    .productos {
        grid-template-columns: 1fr;
        background-image: url(../fondoadopciones/symbol-scatter-haikei.png)
    }
}


/*CONTACTO*/

@media (max-width:768px) {

    .container {
        grid-template-columns: 1fr;
        max-width: 1200px;
        margin: 50px;
    }
}


/*ADOPCIONES*/

@media (max-width:1023px) {
    .mascota {
        margin: 5vh;
        font-size: 2rem;
    }

    .mascota h3,
    .contenedorMascota p {
        font-size: 15px;
    }

    .contenedorMascotas {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width:768px) {

    .contenedorMascotas {
        grid-template-columns: 1fr;
        overflow-x: hidden;
        background-image: url(/fondoadopciones/symbol-scatter-haikei.png)
    }
}